{% extends "base.html" %}

{% block 'titulo' %} Cadastro dos Produtos{% endblock %}

{% block 'conteudo' %}

<div class="container">
    <br>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md">
            <h1>Cadastre seu produto</h1>
            <hr>

            <form method="POST" action="{% url 'validar_cadastro_produtos' loja.id %}" enctype="multipart/form-data">{% csrf_token %}
                <label>Nome do produto: </label>
                <input name="nome" class="form-control" type="text" placeholder="Nome...">

                <br>
                <label>Imagem produto: </label>
                <input name="imagem_produto" class="form-control" type="file" placeholder="Insira a imagem">
                <br>
                <label>Preço: </label>
                <input name="preco" class="form-control" type="text" placeholder="Preço...">
                <br>
                <label>Descrição: </label>
                <input name="descricao" class="form-control" type="text" placeholder="Descrição...">
                <br>
                <label>Número de produtos inicial: </label>
                <input name="numero_produtos_inicial" class="form-control" type="number" placeholder="Número de produtos...">
                <br>
                <input class="btn btn-info btn-mg" type="submit" value="Enviar">
                <a href="{% url 'feed_produtos_loja' loja.id %}" class="btn btn-dark btn-mg">Voltar</a>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}
