{% extends "base.html" %}

{% block 'titulo' %} Home {% endblock %}

{% block 'conteudo' %}

<div class = "container">
    <br>

    <div class = "row">

        <div class = "col-md-3"></div>

        <div class = "col-md">

            <h1>Bem vindo ao Mall Delivery</h1>
            <hr>
            <h2>Cadastre-se ou faça seu login</h2>
            <br>
            <a href= "cadastramento/cadastrar_lojistas" class = "btn btn-primary btn-mg">Cadastre-se</a>
            <a href= "cadastramento/login_lojistas" class = "btn btn-primary btn-mg">Login</a>

        </div>

        <div class = "col-md-3"></div>

    </div>

</div>


{% endblock %}