{% extends "base.html" %}

{% block 'titulo' %} Home {% endblock %}

{% block 'conteudo' %}

<div class = "container">
    <br>

    <div class = "row">

        <div class = "col-md-2"></div>

        <div class = "col-md">

            <h1>Cadastre sua loja ou faça login</h1>
            <hr>

            <a href= "cadastramento/cadastrar_lojas" class = "btn btn-primary btn-mg">Cadastre-se</a>
            <a href= "cadastramento/login_lojas" class = "btn btn-primary btn-mg">Login</a>

        </div>

        <div class = "col-md-2"></div>

    </div>

</div>


{% endblock %}