{% extends "base.html" %}

{% block 'titulo' %} Login das lojas {% endblock %}

{% block 'conteudo' %}

<div class = "container">
    <br>

    {% if status == '1' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Email ou senha inválidos.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if status == '2' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Faça login antes de tentar acessar o sistema.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class = "row">

        <div class = "col-md-3"></div>

        <div class = "col-md">

            <h1>Login da sua loja</h1>
            <hr>

            <form method = "POST" action = "{% url 'validar_login_lojas' %}">{% csrf_token %}
                <label>CNPJ da loja: </label>
                <input name = "cnpj" class="form-control" type="text" placeholder=" XX.XXX.XXX/0001-XX">
                <br>
                <label>Senha: </label>
                <input name = "senha" class="form-control" type="password" placeholder="Senha...">
                <br>
                <input class="btn btn-info btn-mg" type="submit" value="Entrar">
                <a href= "../intermediaria1" class = "btn btn-dark btn-mg">Voltar</a>
            </form>

        </div>

        <div class = "col-md-3"></div>

    </div>

</div>


{% endblock %}